<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<button id="test">防抖</button>
  <script>
//   // var timer; // 维护同一个timer
  var timerEl = document.getElementById('test')
let func = delayPrint();
  
 function delayPrint(){
    var timer = null;
   return function(){
     if(timer) {
      // console.log(1);
    clearTimeout(timer)
    }

    timer = setTimeout(function(){
     console.log(111);
    })
   }
  }
 timerEl.onclick=(function() {
  func()
 })
 

  </script>
</body>
</html>